In [105]:
import pandas as pd
import numpy as np
import requests

In [106]:
movies = pd.read_csv(r'C:\Users\pc\ML\Projects\Recc Movie\data\tmdb_5000_movies.csv')
credit = pd.read_csv(r'C:\Users\pc\ML\Projects\Recc Movie\data\tmdb_5000_credits.csv')

In [107]:
print(movies.shape)
print(credit.shape)

(4803, 20)
(4803, 4)

In [108]:
data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew,year
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009.0

In [109]:
data = movies.merge(credit,on='title')
data.shape

(4809, 23)

In [110]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [111]:
data['year'] = data['release_date'].dt.year

In [113]:
data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew', 'year'],
      dtype='object')

In [114]:
top_grossing = data.sort_values(by ='revenue',ascending = False)

In [115]:
top_grossing = top_grossing[['revenue','title','movie_id','year']]

In [116]:
top_grossing['revenue'] = top_grossing['revenue'] / 1000000

In [117]:
top_grossing['revenue'] = top_grossing['revenue'].apply(round)

In [131]:
top_grossing['year'][0].astype(int)

2009

In [171]:
top_grossing = top_grossing.reset_index()

In [132]:
def year(df,index):
    num = df['year'][index].astype(int)
    
    return num

In [160]:
def year(df,index):
    num = df['year'][index].astype(int)
    num = num.astype(str)
    
    return num

In [161]:
year(top20,6)

'2010'

In [172]:
import pickle
pickle.dump(top_grossing ,open('top_grossing.pkl','wb'))

In [ ]:
data.sort_values(by ='popularity',ascending = False).head(10)

In [122]:
vote_count_data = data[data['vote_count'] > 500]

In [123]:
vote_count_data = vote_count_data[['movie_id','title','vote_count','vote_average','year']]

In [124]:
top20 = vote_count_data.sort_values(by='vote_count', ascending=False)

In [168]:
top20 = top20.reset_index()

In [169]:
top20

      index  movie_id            title  vote_count  vote_average    year
0        96     27205        Inception       13752           8.1  2010.0
1        65       155  The Dark Knight       12002           8.2  2008.0
2         0     19995           Avatar       11800           7.2  2009.0
3        16     24428     The Avengers       11776           7.4  2012.0
4       788    293660         Deadpool       10995           7.4  2016.0
...     ...       ...              ...         ...           ...     ...
1608   1184       820              JFK         502           7.5  1991.0
1609   1119     37233         The Firm         501           6.6  1993.0
1610   2067      4566  Michael Clayton         501           6.5  2007.0
1611    989     38319    Your Highness         501           5.2  2011.0
1612   1058     64328      The Muppets         501           6.5  2011.0

[1613 rows x 6 columns]

In [173]:
def caption(index):
    
    return 'Ratings : '+top20['vote_average'].values[index].astype(str)

In [175]:
def revenew(index):
    
    return 'Revenue : '+'$'+top_grossing['revenue'].values[index].astype(str)+'M'

In [179]:
def year(df,index):
    num = df['year'][index].astype(int)
    num = num.astype(str)
    
    return ' ' + "(" + num + ")"

In [184]:
def title(df,index):
    tit = df['title'].values[index]
    num = df['year'][index].astype(int)
    num = num.astype(str)
    
    return tit + ' ' + "(" + num + ")"

In [190]:
title(top_grossing,1)

'Titanic (1997)'

In [176]:
revenew(0)

'Revenue : $2788M'

In [174]:
caption(0)

'Ratings : 8.1'

In [126]:
type(top20['vote_average'].values[4].astype(str))

numpy.str_

In [127]:
def fetch_poster(movie_id):
    url = "https://api.themoviedb.org/3/movie/{}?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US".format(movie_id)
    data = requests.get(url)
    data = data.json()
    poster_path = data['poster_path']
    full_path = "https://image.tmdb.org/t/p/w500/" + poster_path
    return full_path

In [128]:
fetch_poster(top20['movie_id'].values[2])

'https://image.tmdb.org/t/p/w500//jRXYjXNq0Cs2TcJjLkki24MLp7u.jpg'

In [170]:
import pickle
pickle.dump(top20 ,open('top20.pkl','wb'))

In [7]:
data= data[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
data.dropna(inplace=True)

In [9]:
import ast

def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [10]:
data['genres'] = data['genres'].apply(convert)

In [11]:
data['keywords'] = data['keywords'].apply(convert)

In [12]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [14]:
#data['cast'] = data['cast'].apply(lambda x:x[0:3]) # Alternate way
data['cast'] = data['cast'].apply(convert3)
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [16]:
data['crew'] = data['crew'].apply(fetch_director)

In [17]:
data['overview'] = data['overview'].apply(lambda x:x.split())

In [18]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [19]:
data['cast'] = data['cast'].apply(collapse)
data['crew'] = data['crew'].apply(collapse)
data['genres'] = data['genres'].apply(collapse)
data['keywords'] = data['keywords'].apply(collapse)

In [20]:
data['tags'] = data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

In [23]:
data['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [24]:
new = data.drop(columns=['overview','genres','keywords','cast','crew'])

In [25]:
new.shape

(4806, 3)

In [26]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [91]:
new.sample(5)

,movie_id,title,tags
2144,1710,Copycat,an agoraphobic psychologist and a female detec...
708,294254,Maze Runner: The Scorch Trials,thomas and his fellow gladers face their great...
486,274854,The Last Witch Hunter,"the modern world holds many secrets, but by fa..."
4403,18206,Alone With Her,the harrowing story of a disturbed young man's...
1461,20763,Radio Flyer,a father reminisces about his childhood when h...

In [71]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [37]:
new['tags'] = new['tags'].apply(ps.stem)

In [40]:
new['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english',lowercase=True)

In [42]:
vectors = cv.fit_transform(new['tags']).toarray()

In [43]:
vectors.shape

(4806, 5000)

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarty = cosine_similarity(vectors)

In [54]:
similarty[0].shape

(4806,)

In [112]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarty[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(type(new.iloc[i[0]].title))

In [113]:
recommend("The Avengers")

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [94]:
import pickle
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarty,open('similarity.pkl','wb'))

In [104]:
def recommend1(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarty[index])),reverse=True,key = lambda x: x[1])
    recc_movie = []
    for i in distances: 
        recc_movie.append(new.iloc[i[0]].title)

        return recc_movie

In [105]:
recommend1('The Avengers')

['The Avengers']

In [159]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarty[index])),reverse=True,key = lambda x: x[1])
    recc_movie = []
    for i in distances[1:6]:
        recc_movie.append(new.iloc[i[0]].title)
        
    return recc_movie

In [160]:
recommend('The Avengers')

['Avengers: Age of Ultron',
 'Captain America: Civil War',
 'Iron Man 3',
 'Captain America: The First Avenger',
 'Iron Man']

In [18]:
!pip freeze > requirements.txt

WARNING: Could not generate requirement for distribution -pencv-python 4.6.0.66 (c:\users\pc\anaconda3\lib\site-packages): Parse error at "'-pencv-p'": Expected W:(abcd...)

In [21]:
import session_info
session_info.show()